:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

section {
  padding: 50px 20px;
  min-height: 100vh;
  margin-left: 20px;
}

h1 {
  font-size: 2rem;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    nav ul {
      justify-content: start;
      padding: 0 10px;
      margin-left: 30px;
    }

    nav ul li a {
      margin-right: 15px;
    }

    section {
    padding: 100px 20px;
    min-height: 100vh;
    margin-left: 20px;
  }
}