#home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.home-container {
  text-align: center;
}

.text {
  max-width: 600px;
  text-shadow: 0 0 10px #fff;
}

@media (min-width: 2200px) {
  .text h1 {
    font-size: 3rem;
  }
  .text {
    max-width: 1200px;
    font-size: 3rem;
  }
}
