.container-projects {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 0 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(35, 35, 35, 0.9);
  transition: box-shadow 0.3s ease;
}

.container-projects:hover {
  box-shadow: 0px 0px 3px 3px rgba(255, 76, 76, 0.8);
}

.container-projects > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.container-projects > div h3 {
  margin: 0;
}

.container-projects > div p {
  margin: 10px 0;
}

.container-projects > div a {
  text-align: end;
  margin-top: auto;
  text-decoration: none;
  color: #ff4c4c;
}

.logo {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.logo-aquaculture {
  width: 120px;
  height: 115px;
  margin-right: 20px;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
}

@media (max-width: 768px) {
  .container-projects {
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .logo-aquaculture {
    width: 100px;
    height: 95px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
